@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
#intro-inner {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-brand {
    font-weight: 700;
}
.navbar-brand-small {
    font-weight: 300;
}
.nav-link {
    font-weight: 200;
}
#intro-lbl {
    font-weight: 700;
}
#intro-small-lbl {
    font-weight: 300;
}
#about-inner {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-lbl {
    font-weight: 700;
}
#about-text {
    font-weight: 300;
}
#our-items {
    background-color: #263238;
}
#items-lbl {
    color: #fff;
    font-weight: 700;
}
#card1-lbl {
    font-weight: 700;
    color: #fff;
}
#card2-lbl {
    font-weight: 700;
    color: #fff;
}
#card3-lbl {
    font-weight: 700;
    color: #fff;
}
#card4-lbl {
    font-weight: 700;
    color: #fff;
}
#card1-txt {
    font-weight: 300;
    color: #fff;
}
#card2-txt {
    font-weight: 300;
    color: #fff;
}
#card3-txt {
    font-weight: 300;
    color: #fff;
}
#card4-txt {
    font-weight: 300;
    color: #fff;
}

#price-header {
    align-items: center;
}
#header-lbl {
    font-weight: 700;
}
#price-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.card-title {
    font-weight: 700;
}
#vk-price {
    font-weight: 200;
}
#yt-price {
    font-weight: 200;
}
#tg-price {
    font-weight: 200;
}
#landing-price {
    font-weight: 200;
}
#web-price {
    font-weight: 200;
}
#logo-price {
    font-weight: 200;
}
#vk-bot-price {
    font-weight: 200;
}
#tg-bot-price {
    font-weight: 200;
}
#web-des-price {
    font-weight: 200;
}
#footer {
    background-color: #263238;
}
#footer-inner {
    align-items: center;
}
#foot-vk {
    color: #fff;
    font-size: 24px;
}
#foot-tg {
    color: #fff;
    font-size: 24px;
}
#foot-mail {
    color: #fff;
    font-size: 24px;
}
